
        <div class="modal-header">
		header2
        </div>
        <div class="modal-body" id="modal-body">

  <accordion close-others="true">
    <accordion-group is-open="false" >
        <accordion-heading ng-click="isopen=!isopen">
           <div>
            Patient Info 
           <i class="pull-right glyphicon" 
              ng-class="{'glyphicon-   chevron-down': isopen, 'glyphicon-chevron-right': !isopen}">
           </i>
           </div>
       </accordion-heading>

<div class="container">
	<form >
		<div class="form-group row" >
			  <div class="col-lg-3" ><label for="name">First Name:</label></div>
			  <div class="col-lg-3" ><input type="text" class="form-control" ng-model="firstname" placeholder="First Name"></div>
			  <div class="col-lg-3" ><label for="name">Last Name:</label></div>
			  <div class="col-lg-3" ><input type="text" class="form-control" ng-model="lastname" placeholder="Last Name"></div>
		</div>

		<div class="form-group row" >
			  <div class="col-lg-3" ><label for="address">Address Line1:</label></div>
			  <div class="col-lg-9" ><input type="text" class="form-control" ng-model="addressline1" placeholder="Address Line 1"></div>
		</div>

		<div class="form-group row" >
			  <div class="col-lg-3" ><label for="address">Address Line2:</label></div>
			  <div class="col-lg-9" ><input type="text" class="form-control" ng-model="addressline2" placeholder="Address Line 2"></div>
		</div>

		<div class="form-group row" >
			  <div class="col-lg-3" ><label for="address">City:</label></div>
			  <div class="col-lg-9" ><input type="text" class="form-control" ng-model="city" placeholder="City"></div>
		</div>

		<div class="form-group row" >
			  <div class="col-lg-3" ><label for="address">State:</label></div>
			  <div class="col-lg-3" >
				<select class="form-control" ng-model="state" placeholder="State" ng-options="x for x in states">

				</select>		
			  </div>		
		</div>
		
		<div class="form-group row" >
			  <div class="col-lg-3" ><label for="address">Phone Number:</label></div>
			  <div class="col-lg-3" ><input type="text" class="form-control" ng-model="phone" placeholder="Phone Number"></div>

			  <div class="col-lg-3" ><label for="address">Email:</label></div>
			  <div class="col-lg-3" ><input type="email" class="form-control" ng-model="email" placeholder="Email"></div>
		</div>		
		
		<div class="form-group row">
		  <label class="col-lg-3" for="comment">Comments:</label>
		  <div class="col-lg-9">
		  <textarea class="form-control" rows="5" ng-model="comment"></textarea>
		  </div>
		</div>
		</form>

</div>

	   
	   </accordion-group>
	   
		<accordion-group is-open="false" >
			<accordion-heading ng-click="isopen=!isopen">
			   <div>
				Diagnosis Info 
			   <i class="pull-right glyphicon" 
				  ng-class="{'glyphicon-   chevron-down': isopen, 'glyphicon-chevron-right': !isopen}">
			   </i>
			   </div>
		   </accordion-heading>
			<div class="form-group row">
			  <label class="col-lg-3" for="comment">Comments:</label>
			  <div class="col-lg-9">
			  <textarea class="form-control" rows="10" ng-model="comment"></textarea>
			  </div>
			</div>		   
	   </accordion-group>
	   
	   
		<accordion-group is-open="false" >
			<accordion-heading ng-click="isopen=!isopen">
			   <div>
				Prescription Info 
			   <i class="pull-right glyphicon" 
				  ng-class="{'glyphicon-   chevron-down': isopen, 'glyphicon-chevron-right': !isopen}">
			   </i>
			   </div>
		   </accordion-heading>
			<div class="form-group row">
			  <label class="col-lg-3" for="comment">Prescription:</label>
			  <div class="col-lg-9">
			  <textarea class="form-control" rows="10" ng-model="comment"></textarea>
			  </div>
			</div>		   
	   </accordion-group>	   
</accordion>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="">OK</button>
            <button class="btn btn-warning" type="button" ng-click="">Cancel</button>
        </div>
 
